@model work_01.ViewModels.VisitorsVM

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-8 offset-2">
        <div id="panel"></div>
        <div class="card rounded shadow-lg">
            <div class="card-header shadow">
                <h2 class="float-left">Edit @Model.VisitorName</h2>
                <div class="d-flex justify-content-end">
                    <a asp-action="Index" asp-controller="Visitors" class="btn btn-info btn-sm rounded shadow-sm">
                        <i class="fa fa-backward"></i> Back to List
                    </a>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Edit" asp-controller="Visitors" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group row">
                        <label asp-for="VisitorName" class="col-form-label col-3"></label>
                        <div class="col-9">
                            <input asp-for="VisitorName" class="form-control" />
                            <span asp-validation-for="VisitorName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="cId" class="col-form-label col-3"></label>
                        <div class="col-9">
                            <select asp-for="cId" class="form-control" asp-items="ViewBag.cId">
                                <option value="">---- Select One City ----</option>
                            </select>
                            <span asp-validation-for="cId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Phone" class="col-form-label col-3"></label>
                        <div class="col-9">
                            <input asp-for="Phone" data-val="true" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="VisitDate" class="col-form-label col-3"></label>
                        <div class="col-9">
                            <input asp-for="VisitDate" class="form-control" type="date" />
                            <span asp-validation-for="VisitDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Image" class="col-form-label col-3"></label>
                        <div class="col-9">
                            @*<img src="/@Html.DisplayFor(i=>i.ImagePath)" id="ImagePreview" height="80" width="80" />*@
                            <img src="~/Images/user.jpg" class="rounded" id="ImageDefault" height="80" width="80" />
                            <input asp-for="Image" type="file" class="form-control mt-2" id="File" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <button type="reset" class="btn btn-warning shadow-sm btn-sm w-25"><i class="fa fa-refresh"></i> Reset</button>
                            <button type="submit" class="btn btn-primary shadow-sm btn-sm w-25"><i class="fa fa-save"></i> Update</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        //$("#File").change(function () {
        //    var file = $("input[type=file]").get(0).files[0];
        //    if (file) {
        //        var reader = new FileReader();

        //        reader.onload = function () {
        //            $("#ImagePreview").attr("src", reader.result);
        //        }
        //        reader.readAsDataURL(file);
        //    } 
        //})
        $('#File').change(function (event) {
            var tmpFile = URL.createObjectURL(event.target.files[0]);
            $("#ImageDefault").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
        });
    </script>
}

